﻿@*@page "/fetchdata"*@
@page "/fetchdata/{JWT}"

@using LoginMAUIBlazor.Data
@using LoginMAUIBlazor.Models
@using LoginMAUIBlazor.Services
@inject WeatherForecastService ForecastService
@layout MainLayout

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (items == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<p>
	Token	
	@*<label @bind="JWT"/>*@
	<input type="text" @bind="JWT" class="input" maxlength="50" />
	</p>

	<table class="table">
		<thead>
			<tr>
				@*<th>Date</th>
				<th>Temp. (C)</th>
				<th>Temp. (F)</th>
				<th>Summary</th>*@
				<th>ID</th>
				<th>Descripción</th>
			</tr>
		</thead>
		<tbody>
			@*@foreach (var forecast in forecasts)
			{
				<tr>
					<td>@forecast.Date.ToShortDateString()</td>
					<td>@forecast.TemperatureC</td>
					<td>@forecast.TemperatureF</td>
					<td>@forecast.Summary</td>
				</tr>
			}*@
			@foreach (var item in items)
			{
				<tr>
					<td>@item.ID</td>
					<td>@item.descripcion</td>					
				</tr>
			}
		</tbody>
	</table>
}

@code {
	[Parameter]
	public string JWT { get; set; }
	//private WeatherForecast[] forecasts;
	private IEnumerable<Item> items;

	protected override async Task OnInitializedAsync()
	{
		//forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
		var itemSvc = new Services.ItemService();
		items = await itemSvc.getAll(JWT);
	}
}
