﻿@inherits LayoutComponentBase

<div class="page">	
	<main>
		@*<div class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Logout
			</NavLink>
		</div>*@
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
